<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.telda.dds_01_integration_service.card_template.mapper.CardTemplateMapper">
        <resultMap id="cardTemplate" type="ru.telda.dds_01_integration_service.card_template.model.CardTemplate">
            <id property="id" column="id" jdbcType="OTHER" javaType="java.util.UUID" typeHandler="UuidTypeHandler"/>
            <result property="cardId" column="cardid" javaType="java.math.BigInteger"/>
            <result property="cardTypeId" column="cardtypeid" jdbcType="OTHER" javaType="java.util.UUID" typeHandler="UuidTypeHandler"/>
            <result property="cardAddress" column="cardaddress"/>
            <result property="cardData" column="carddata"/>
            <result property="cardDescription" column="carddescription"/>
            <result property="success" column="success"/>
            <result property="isActive" column="isactive"/>
            <result property="cardInfo" column="cardinfo" jdbcType="OTHER" javaType="com.fasterxml.jackson.databind.JsonNode"
                    typeHandler="ru.telda.dds_01_integration_service.util.mybatisHandlers.JsonTypeHandler"/>
        </resultMap>

    <select id="select" parameterType="ru.telda.dds_01_integration_service.card_template.model.CardTemplate"
            resultType="java.lang.Long">
        select count(*) from extcard where #{card.cardId, javaType=java.math.BigInteger} = cardid and #{card.cardTypeId,
                    jdbcType=OTHER, javaType=java.util.UUID, typeHandler=UuidTypeHandler} = cardtypeid;
    </select>

    <insert id="insert">
        insert into extcard (cardid, cardtypeid, success,
                             isactive, carddecription, cardaddress,
                             carddata, cardinfo)
        values (#{card.cardId, javaType=java.math.BigInteger},
                #{card.cardTypeId, jdbcType=OTHER, javaType=java.util.UUID, typeHandler=UuidTypeHandler},
                #{card.success},
                #{card.isActive},
                #{card.cardDescription},
                #{card.cardAddress},
                #{card.cardData},
                #{card.cardInfo, jdbcType=OTHER, javaType=com.fasterxml.jackson.databind.JsonNode,
                typeHandler=JsonTypeHandler}::json
               );

    </insert>
</mapper>