<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.telda.dds_01_integration_service.card_template.mapper.CardTemplateMapper">

        <resultMap id="cardTemplate" type="ru.telda.dds_01_integration_service.card_template.model.CardTemplate">

            <id property="id" column="id" jdbcType="OTHER" javaType="java.util.UUID" typeHandler="UuidTypeHandler"/>
            <result property="cardTypeId" column="cardId" jdbcType="OTHER" javaType="java.util.UUID" typeHandler="UuidTypeHandler"/>
            <result property="extSystemCardId" column="cardTypeId" jdbcType="OTHER" javaType="java.util.UUID" typeHandler="UuidTypeHandler"/>
            <result property="extCardContent" column="extCardContent" jdbcType="OTHER" javaType="com.fasterxml.jackson.databind.JsonNode"
                    typeHandler="JsonTypeHandler"/>

        </resultMap>

    <select id="findCardTypeById" resultType="java.util.UUID">
        select i.* from nsi."extSystems" i
                            inner join nsi.classifiers c on i.version = c.version
        where c."codeName" = 'extSystems' and
            i.code = '2';
    </select>

    <select id="countIdenticalCards" resultType="java.lang.Long">
        select count(*)
        from "extCard" where "cardTypeId" = #{cti, jdbcType=OTHER, javaType=java.util.UUID, typeHandler=UuidTypeHandler}
                         and "extSystemCardId" = #{esci};
    </select>

    <insert id="insert" parameterType="ru.telda.dds_01_integration_service.card_template.model.CardTemplate">
        insert into "extCard" ("cardTypeId", "extSystemCardId", "extCardContent")
        values (#{card.cardTypeId, jdbcType=OTHER, javaType=java.util.UUID, typeHandler=UuidTypeHandler},
                #{card.extSystemCardId},
                #{card.extCardContent, jdbcType=OTHER, javaType=com.fasterxml.jackson.databind.JsonNode,
                typeHandler=JsonTypeHandler}::json
               );
    </insert>

</mapper>